.cabecalho__menu-hamburguer{
    width: 34px;
    height: 34px;
    background-image: url(img/Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cabecalho{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa{
    display: flex;
    align-items: center;
}

.caixa__imagem{
    padding: 1em;
}