.cabecalho__menu-hamburguer{
    width: 34px;
    height: 34px;
    background-image: url(img/Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.cabecalho{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.caixa{
    display: flex;
    align-items: center;
}

.caixa__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 60vw;
}

.caixa__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: antiquewhite;
}

.lista-menu__titulo{
    color:brown;
    font-weight: bold;
}

.lista-menu__link{
    color: blueviolet;
    text-decoration: none;
    text-transform: uppercase;
}

.caixa__botao{
    display: none;
}